force-app/main/default/flows/Project_Milestone_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Completed_Records</name>
        <label>Completed Records</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CompletedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>one</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TotalToDos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Progress_Records</name>
        <label>In Progress Records</label>
        <locationX>666</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>InProgressCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>one</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TotalToDos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Started_Records</name>
        <label>Not Started Records</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NotStartedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>one</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TotalToDos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TotalToDos</name>
        <label>TotalToDos</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TotalToDoCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>one</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_To_Dos</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>one</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Categorize_To_Dos_based_on_Status</name>
        <label>Categorize To-Dos based on Status</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>In_Progress_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>In Progress</defaultConnectorLabel>
        <rules>
            <name>Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_To_Dos.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Started_Records</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_To_Dos.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Records</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Insert</name>
        <label>Is Insert?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YEs</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_To_Dos</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculate_Status</name>
        <dataType>String</dataType>
        <expression>IF({!Complete_Percent_Formula}=0,&apos;Not Started&apos;,IF({!Complete_Percent_Formula}=100,&apos;Complete&apos;,&apos;In Progress&apos;))</expression>
    </formulas>
    <formulas>
        <name>Complete_Percent_Formula</name>
        <dataType>Number</dataType>
        <expression>IF({!TotalToDoCount}=0,0,
IF({!TotalToDoCount}={!NotStartedCount},0,
IF({!TotalToDoCount}={!CompletedCount},100,
IF({!TotalToDoCount}={!InProgressCount},50,
(({!CompletedCount}+({!InProgressCount}*0.5))/{!TotalToDoCount})*100))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Project Milestone After Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Milestone After Insert/Update</label>
    <loops>
        <name>Iterate_To_Dos</name>
        <label>Iterate To-Dos</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_To_Dos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Categorize_To_Dos_based_on_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_To_Dos</name>
        <label>Get To-Dos</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_To_Dos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_To_Do__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Complete__c</field>
            <value>
                <elementReference>Complete_Percent_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Calculate_Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Project__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Project__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Insert</targetReference>
        </connector>
        <object>Project_Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InProgressCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotStartedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalToDoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
